# Игнорирование файлов Python bytecode
*.pyc

# Игнорирование файлов настроек проекта
*.py[cod]
__pycache__/

# Игнорирование файлов сборки
*.so
*.egg
*.egg-info
dist/
build/

# Игнорирование файлов среды выполнения
env/
venv/
.vscode/

# Игнорирование файлов данных
*.sqlite3
*.db

# Игнорирование файлов логов и временных файлов
*.log
*.swp
*~

# Игнорирование файлов конфигурации IDE
.idea/

# Игнорирование файлов с настройками пользователя
.DS_Store

# Игнорирование файлов секретных настроек
.env

# Игнорирование файла ТЗ финальной работы курса «Основы Python. Часть 2».pdf
ТЗ финальной работы курса «Основы Python. Часть 2».pdf

# Игнорирование папки result_generate
result_generate/
